@model Rupestre.Application.DTOs.FabricanteDto

<form id="formEntity" action="@Url.Action("Save", "Fabricante")" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome <span class="text-danger">*</span></label>
        <input asp-for="Nome" class="form-control" required maxlength="200" />
    </div>

    <div class="modal-footer px-0 pb-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
